.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 50px;
  }
  .parent{
    position: relative;
  }
  .child{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 25px;
  }
  .parent{
    color: var(--rose);
  }
  
  .parent p{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
  .container img{
    display: block;
    border-radius: 20px;
    width: 100%;
  }